<%- include('../layout/header', {title: "Inicio"}) %>

<section id="home" class="full-height px-lg-5">

    <div class="container">

        <div class="row">

            <div class="col-lg-10">

                <h1 class="display-4 fw-bold" data-aos="fade-up">Técnico Superior en <span class="text-brand">Diseño y Programación Web</span></h1>
                <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">Soy Ignacio Barros y creo sitios web (frontend/backend).</p>

                <div data-aos="fade-up" data-aos-delay="600">

                    <a href="/proyectos" class="btn btn-brand me-3">Explora mis proyectos</a>
                    <a href="#" class="link-custom">Cel: (+54) 9 11 3357 - 4710</a>

                </div>

            </div>

        </div>

    </div>

</section>

<%- include('../layout/footer') %>