<%- include('../layout/header', {title: "Sobre Mi"}) %>

<section id="about" class="full-height px-lg-5">

    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">SOBRE MÍ</h6>
                <h1>Mi Educación y Experiencia</h1>
            </div>
        </div>

        <div class="row gy-5">

            <div class="col-lg-6">

                <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Educación</h3>
                <div class="row gy-4">

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <h4>Diseño y Programación Web</h4>
                            <p class="text-brand mb-2">Escuela de Arte Multimedial "Da Vinvi" (2021 - 2023)</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Reprehenderit maxime tempore numquam.</p>
                        </div>
                    </div>

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <h4>Diseño y Programación Web</h4>
                            <p class="text-brand mb-2">Escuela de Arte Multimedial "Da Vinvi" (2021 - 2023)</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Reprehenderit maxime tempore numquam.</p>
                        </div>
                    </div>

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <h4>Diseño y Programación Web</h4>
                            <p class="text-brand mb-2">Escuela de Arte Multimedial "Da Vinvi" (2021 - 2023)</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Reprehenderit maxime tempore numquam.</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-lg-6">

                <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiencia</h3>
                <div class="row gy-4">

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <h4>Desarrollador Web</h4>
                            <p class="text-brand mb-2">Twitter (2018 - 2020)</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Reprehenderit maxime tempore numquam.</p>
                        </div>
                    </div>

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <h4>Desarrollador Web</h4>
                            <p class="text-brand mb-2">Twitter (2018 - 2020)</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Reprehenderit maxime tempore numquam.</p>
                        </div>
                    </div>

                    <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                        <div class="bg-base p-4 rounded-4 shadow-effect">
                            <h4>Desarrollador Web</h4>
                            <p class="text-brand mb-2">Twitter (2018 - 2020)</p>
                            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Reprehenderit maxime tempore numquam.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<%- include('../layout/footer') %>