<%- include('layout/header', {title: "404"}) %>

<section id="technologies" class="full-height px-lg-5">

    <div class="container">

        <div class="row pb-4" data-aos="fade-up">
            <div class="col-lg-8">
                <h6 class="text-brand">ERROR 404!</h6>
                <h1><%- msg %></h1>
            </div>
        </div>

    </div>

</section>

<%- include('layout/footer') %>